<!DOCTYPE html>
<html lang="en">


<!-- molla/index-8.html  22 Nov 2019 09:56:59 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Urban Jungle</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png"> -->
    <!-- <link rel="manifest" href="assets/images/icons/site.html"> -->
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <!-- <link rel="shortcut icon" href="assets/images/icons/favicon.ico"> -->
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-8.css">
    <link rel="stylesheet" href="assets/css/demos/demo-8.css">
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
 

</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left" style="display: flex; justify-content: center; align-items: center;">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="assets/images/logo-removebg-preview.jpg" alt="urban Logo" width="82" height="20">
                        </a>
                    </div>

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" class="sf-with-ul">Home</a>
                                </li>
                                <li class="megamenu-container active">
                                    <a href="/products" class="sf-with-ul">Plants</a>
                                </li>
                            </ul>
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->
                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="/search" method="post">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    
                                        <input type="search" class="form-control" name="searchname" id="q" placeholder="Search in..." required>

                                </div>
                            </form>
                        </div>
                        <div class="dropdown cart-dropdown ">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static">


                                <i class="icon-user"></i>
                            </a>



                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <% if (locals.user) { %>
                                        <div class="product">
                                            <a class="" href="/profile">Profile</a>
                                        </div>
                                        <div class="product">
                                            <a class="" href="/logout">Logout</a>
                                        </div>
                                        <% } else { %>
                                            <div class="product">
                                                <a class="" href="/login">Login</a>
                                            </div>
                                            <div class="product">
                                                <a class="" href="/signup">Signup</a>
                                            </div>
                                            <% } %>
                                </div>
                            </div>
                        </div>



                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>

                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="wishlist-link">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span id="cartCountContainer" class="cart-count"></span> -->

                                <!-- <span class="cart-count"></span> -->
                                <!-- <span class="cart-txt">$ 164,00</span> -->
                            </a>


                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->