<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Urban Jungle</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="asset/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="asset/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<link rel="stylesheet" href="path/to/cropper.min.css">
<script src="path/to/cropper.min.js"></script>
<style>
    .image-preview-container {
      display: flex;
      flex-wrap: wrap;
    }
  
    .image-preview-label {
      flex-basis: 100%;
      margin-bottom: 10px;
    }
  
    .image-preview {
      flex-basis: calc(25% - 10px);
      margin-right: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      padding: 5px;
      box-sizing: border-box;
    }
  
    .cropped-image {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
  <style>
    .image-preview {
      max-width: 100%;
      height: auto;
    }
  </style>

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="asset/imgs/theme/mainLogo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
      